[access]
	inheritFrom = aaf
[access "refs/heads/*"]
	addPatchSet = group ldap/lf-gerrit-transfer
	create = group ldap/lf-gerrit-transfer
	createSignedTag = group ldap/lf-gerrit-transfer
	createTag = group ldap/lf-gerrit-transfer
	forgeAuthor = group ldap/lf-gerrit-transfer
	forgeCommitter = group ldap/lf-gerrit-transfer
	owner = group ldap/lf-gerrit-transfer
	push = +force group ldap/lf-gerrit-transfer
	push = +force group ldap/lf-releng
	pushMerge = group ldap/lf-gerrit-transfer
