[access]
	inheritFrom = aaf
[access "refs/*"]
	create = group ldap/lf-gerrit-transfer
	forgeCommitter = group ldap/lf-gerrit-transfer
	owner = group ldap/lf-gerrit-transfer
	push = +force group ldap/lf-gerrit-transfer
	pushMerge = group ldap/lf-gerrit-transfer
	createSignedTag = group ldap/lf-gerrit-transfer
	createTag = group ldap/lf-gerrit-transfer
	addPatchSet = group ldap/lf-gerrit-transfer
	forgeAuthor = group ldap/lf-gerrit-transfer
	forgeServerAsCommitter = group ldap/lf-gerrit-transfer
	rebase = group ldap/lf-gerrit-transfer
	submit = group ldap/lf-gerrit-transfer
	submitAs = group ldap/lf-gerrit-transfer
